<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-init-method="init" default-destroy-method="destroy">
	<bean id ="pointA" class="com.vibe.draw.Point" >
	<property name="x" value="${point1.x}"/>
	<property name="y" value="${point1.y}"/>
	</bean>
	
	<bean id ="pointB" class="com.vibe.draw.Point">
	<property name="x" value="${point2.x}"/>
	<property name="y" value="${point2.y}"/>
	</bean>
	
	<bean id ="pointC" class="com.vibe.draw.Point">
	<property name="x" value="${point3.x}"/>
	<property name="y" value="${point3.y}"/>
	</bean>
	
	<bean id="color" class="com.vibe.draw.Color">
	   <property name="colorName" value="${color.red}"/>
	</bean>

	<bean id="triangle" class="com.vibe.draw.Triangle" autowire="byName"/>
	
	<bean id ="center" class="com.vibe.draw.Point" >
    <property name="x" value="${point2.x}"/>
    <property name="y" value="${point2.y}"/>
    </bean>
	
	<bean id="circle" class="com.vibe.draw.Circle">
    <property name="center" ref="pointA"/>
	</bean>
	
    <!-- <bean class="com.vibe.draw.DisplayNamesBeanPostProcessor"/> -->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>pointsConfig.prop</value>
                <value>colorConfig.prop</value>
            </list>
        </property>
    </bean>
		
	
</beans>