<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<bean id ="pointA" class="com.vibe.draw.Point">
	<property name="x" value="20"/>
	<property name="y" value="0"/>
	</bean>
	
	<bean id ="pointB" class="com.vibe.draw.Point">
	<property name="x" value="${point2.x}"/>
	<property name="y" value="${point2.y}"/>
	</bean>
	
	<bean id ="pointC" class="com.vibe.draw.Point">
	<property name="x" value="${point3.x}"/>
	<property name="y" value="${point3.y}"/>
	</bean>
	
	<bean id="color" class="com.vibe.draw.Color">
	   <property name="colorName" value="${color.red}"/>
	</bean>

	<bean id="triangle" class="com.vibe.draw.Triangle" autowire="byName"/>
	
	<bean id ="center" class="com.vibe.draw.Point" >
    <property name="x" value="${point2.x}"/>
    <property name="y" value="${point2.y}"/>
    </bean>
	
	<bean id="circle" class="com.vibe.draw.Circle">
    	<property name="center" ref="pointA"/>
    	<property name="msgSource" ref="msgSource"/>
	</bean>
	
    <!-- <bean class="com.vibe.draw.DisplayNamesBeanPostProcessor"/> -->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>pointsConfig.prop</value>
                <value>colorConfig.prop</value>
            </list>
        </property>
    </bean>
		
	<bean id="msgSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="mymsg"/>
	</bean>
	
	<context:component-scan base-package="com.vibe.draw"/>
</beans>